*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --ff-primary: 'Spartan', serif;
  --ff-secondary: 'Cantarell', serif;
  
  --fw-reg: 400;
  --fw-bold: 700;
  
  --clr-light: #ffffff;
  --clr-dark: #0f4c81;
  --clr-accent: #ed6663;
  
}

body {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-key {
  background: var(--clr-dark)
}